.state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hint-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0;
}

.hint-icon {
    height: 20px;
    width: auto;
    margin-left: 5px;
}

.hint-prop {
    font-size: 1.2em;
    margin: 0;
}

.hint-message {
    margin: 6px 0 0;
    font-size: 0.8em;
}